html, body {
    height: 100%;
    width: 100%;
    background: lightblue;
}

#edit {
    height: 5%;
    width: 13%;
    background: yellow;
    border: 2px solid black;
}

.box {
    height: 60px;
    width: 11%;
    background-color: lightgray;
    border: 2px solid black;
    justify-content: space-between;
}


